# Capstone 2 - Baseball Stat Projections - Pre-Processing & Modeling

In [58]:
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

In [59]:
path = "/Users/joeboardman/Documents/Springboard/Capstone 2/data"
os.chdir(path)
df = pd.read_csv('Baseball_DW.csv', index_col=0).reset_index()
df.head()

,index,player_id,year,g,ab,r,h,double,triple,hr,...,g_3b,g_ss,g_of,g_dh,salary,obp,slg,ops,year_of_career,age
0,0,abbotje01,1998,89,244.0,33.0,68.0,14.0,1.0,12.0,...,0,0,76,0.0,175000,0.304348,0.491803,0.796151,1,26
1,1,abbotje01,2000,80,215.0,31.0,59.0,15.0,1.0,3.0,...,0,0,65,2.0,255000,0.344538,0.395349,0.739887,3,28
2,2,abbotku01,1994,101,345.0,41.0,86.0,17.0,3.0,9.0,...,0,99,0,0.0,109000,0.292350,0.394203,0.686553,1,25
3,3,abbotku01,1995,120,420.0,60.0,107.0,18.0,7.0,17.0,...,0,115,0,0.0,119000,0.321041,0.452381,0.773422,2,26
4,4,abbotku01,1996,109,320.0,37.0,81.0,18.0,7.0,8.0,...,33,44,0,0.0,250000,0.307246,0.428125,0.735371,3,27

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10674 entries, 0 to 10673
Data columns (total 33 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           10674 non-null  int64
 1   player_id       10674 non-null  object
 2   year            10674 non-null  int64
 3   g               10674 non-null  int64
 4   ab              10674 non-null  float64
 5   r               10674 non-null  float64
 6   h               10674 non-null  float64
 7   double          10674 non-null  float64
 8   triple          10674 non-null  float64
 9   hr              10674 non-null  float64
 10  rbi             10674 non-null  float64
 11  sb              10674 non-null  float64
 12  cs              10674 non-null  float64
 13  bb              10674 non-null  float64
 14  so              10674 non-null  float64
 15  ibb             10674 non-null  float64
 16  hbp             10674 non-null  float64
 17  sh              10674 non-null  float64
 18  sf              10674 non-null  float64
 19  g_idp           10674 non-null  float64
 20  g_c             10674 non-null  int64
 21  g_1b            10674 non-null  int64
 22  g_2b            10674 non-null  int64
 23  g_3b            10674 non-null  int64
 24  g_ss            10674 non-null  int64
 25  g_of            10674 non-null  int64
 26  g_dh            10674 non-null  float64
 27  salary          10674 non-null  int64
 28  obp             10674 non-null  float64
 29  slg             10674 non-null  float64
 30  ops             10674 non-null  float64
 31  year_of_career  10674 non-null  int64
 32  age             10674 non-null  int64
dtypes: float64(20), int64(12), object(1)
memory usage: 2.7+ MB

In [61]:
# encode categorical features with dummy variables

In [62]:
# Break out response variable and scale data

X = df.drop(['player_id', 'ops'], axis=1)

y = df.ops

scaler = StandardScaler().fit(X)

X_scaled = scaler.transform(X)

print(X.head())
print(X_scaled)

   index  year    g     ab     r      h  double  triple    hr   rbi  ...  \
0      0  1998   89  244.0  33.0   68.0    14.0     1.0  12.0  41.0  ...
1      1  2000   80  215.0  31.0   59.0    15.0     1.0   3.0  29.0  ...
2      2  1994  101  345.0  41.0   86.0    17.0     3.0   9.0  33.0  ...
3      3  1995  120  420.0  60.0  107.0    18.0     7.0  17.0  60.0  ...
4      4  1996  109  320.0  37.0   81.0    18.0     7.0   8.0  33.0  ...

   g_2b  g_3b  g_ss  g_of  g_dh  salary       obp       slg  year_of_career  \
0     0     0     0    76   0.0  175000  0.304348  0.491803               1
1     0     0     0    65   2.0  255000  0.344538  0.395349               3
2     0     0    99     0   0.0  109000  0.292350  0.394203               1
3     0     0   115     0   0.0  119000  0.321041  0.452381               2
4    20    33    44     0   0.0  250000  0.307246  0.428125               3

   age
0   26
1   28
2   25
3   26
4   27

[5 rows x 31 columns]
[[-1.73188855 -0.25755551 -0.8684798  ...  1.02789966 -1.280706
  -0.91494771]
 [-1.73156401 -0.02914512 -1.15320036 ... -0.20786334 -0.80735919
  -0.42155821]
 [-1.73123947 -0.71437631 -0.48885239 ... -0.22254498 -1.280706
  -1.16164246]
 ...
 [ 1.73123947  1.68393286 -0.1408606  ... -1.42946148 -1.04403259
  -1.40833722]
 [ 1.73156401 -0.9427867   0.23876682 ... -0.76272063 -1.280706
  -0.91494771]
 [ 1.73188855 -0.82858151  0.77657232 ... -0.65895663 -1.04403259
  -0.66825296]]

In [64]:
# Split data into training and test splits

y = y.ravel()

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=34)

print('max y_train: ' + str(y_train.max()))
print('min y_train: ' + str(y_train.min()))
print('diff: ' + str(y_train.max() - y_train.min()))
print('max X_train: ' + str(X_train.max()))
print('min X_train: ' + str(X_train.min()))
print('diff: ' + str(X_train.max() - X_train.min()))
print('')
print('max y_test: ' + str(y_test.max()))
print('min y_test: ' + str(y_test.min()))
print('diff: ' + str(y_test.max() - y_test.min()))
print('max X_test: ' + str(X_test.max()))
print('min X_test: ' + str(X_test.min()))
print('diff: ' + str(X_test.max() - X_test.min()))

max y_train: 1.3826140015457835
min y_train: 0.3831782769835867
diff: 0.9994357245621968
max X_train: 14.619340477139186
min X_train: -3.8977057602775775
diff: 18.517046237416764

max y_test: 1.4247102898411508
min y_test: 0.3704475820461796
diff: 1.054262707794971
max X_test: 26.376546621673988
min X_test: -3.5546711868053307
diff: 29.931217808479317